<!DOCTYPE html>
<html ng-app="myApp">
<head>
<title>Hello World, AngularJS</title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript">
    var myApp = angular.module('myApp', []);
    
    myApp.controller('PostController', ['$scope', '$http', function ($scope, $http) {
        $scope.echo = {}; // 사용자 객체를 생성
        $scope.echo.time = ''; // 빈 문자열로 초기화
        $scope.echo.text = ''; // 빈 문자열로 초기화
        $scope.echo.name = '';
        $scope.insertUserResult = {};

        $scope.postEcho = function() {
            // 서버에 IP 주소를 요청
            $http({
                method: 'POST',
                url: 'http://127.0.0.1:9999/postecho',
                data : $.param({
                    text: 'hello world'
                }),
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                }
            }).success(function (data, status, headers, config) {
                var n = new Date();
                $scope.echo.time = n.getHours() + "시" + n.getMinutes() + "분" + n.getSeconds() + "초";
                $scope.echo.text = data.text;
            }).error(function (data, status, headers, config) {
                console.log('error');
            });
        }

        $scope.postJsonEcho = function() {

            var echo = {
                text: 'hello json',
                name: 'i am angularjs'
            };

            $http({
                method: 'POST',
                url: 'http://127.0.0.1:9999/postjsonecho',
                data : JSON.stringify(echo),
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8'
                }
            }).success(function (data, status, headers, config) {
                var n = new Date();
                $scope.echo.time = n.getHours() + "시" + n.getMinutes() + "분" + n.getSeconds() + "초";
                $scope.echo.text = data.text;
                $scope.echo.name = data.name;
            }).error(function (data, status, headers, config) {
                console.log('error');
            });
        }

        $scope.insertUser = function() {

            var user = {
                id: 'mark',
                name: 'Mark',
                email: ['mark@google.com', 'mark@gmail.com'],
                type: 'GUEST',
                memo: 'User,Guest'
            };

            $http({
                method: 'POST',
                url: 'http://127.0.0.1:9999/insertUser',
                data : JSON.stringify(user),
                headers: {
                    'Content-Type': 'application/json; charset=UTF-8'
                }
            }).success(function (data, status, headers, config) {
                var n = new Date();
                $scope.echo.time = n.getHours() + "시" + n.getMinutes() + "분" + n.getSeconds() + "초";
                $scope.insertUserResult = data;
            }).error(function (data, status, headers, config) {
                console.log('error');
            });
        }
    }]);

</script>
</head>
<body>
    <div ng-app="myApp">
        <div ng-controller="PostController">
            <button ng-click="postEcho()">
                post echo
            </button>
            <button ng-click="postJsonEcho()">
                post json echo
            </button>
            <button ng-click="insertUser()">
                post insert user
            </button>
            <p>{{ echo.time + ' Text : ' + echo.text + ' ' + echo.name }}</p>
            <p>{{insertUserResult}}</p>
        </div>        
    </div>
</body>
</html>
