<!DOCTYPE html>
<html>
<head>
<title>AngularJS with Modal</title>
<meta charset="utf-8">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script type="text/javascript">

    var myApp = angular.module('myApp', []);
    
    myApp.controller('MainCtrl', ['$scope',  function ($scope) {
        $scope.showYesNo = function() {
         // $('#myPleaseWait').modal({show:true});
            angular.element(document.querySelector('#myModal')).modal({show:true});
        };

        $scope.onYes = function() {
            alert('click onYes');
        }

        $scope.onCancel = function() {
            alert('click onCancel');
             $('#myModal').modal('hide');
        }
    }]);

</script>
</head>

<body ng-app="myApp">
    <div>
        <div ng-controller="MainCtrl">
             <p><a href class="btn btn-default btn-lg " ng-click="showYesNo()">Show Yes No</a></p>
        </div>
    </div>

    <div class="modal fade" id="myModal" role="dialog" ng-controller="MainCtrl">
        <div class="modal-dialog modal-sm">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">대화상자 제목</h4>
                </div>
                <div class="modal-body">
                    <p id="modal-body-content">이곳에 내용을 입력하세요.<br/>이곳을 누르면 대화상자가 사라져요.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" ng-click="onYes()">확인</button>
                    <button type="button" class="btn btn-danger" ng-click="onCancel()">취소</button>
                </div>
            </div>
        <!-- End Of Modal content -->
        </div>
    </div>
</body>
</html>
