<!DOCTYPE html>
<html lang="ko" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <!-- Angular Material requires Angular.js Libraries -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <!-- Your application bootstrap  -->
  <script type="text/javascript">

    var myApp = angular.module('myApp', ['ngMaterial']);

    myApp.controller('MainCtrl', ['$scope', '$mdDialog', function ($scope, $mdDialog) {
        $scope.user = {
            bbs : ''
        };

        $scope.bbsList = ['MBC', 'EBS', 'KBS', 'SBS'];
        $scope.hours =   [];
        
        for (var i = 0; i < 24; i++) {
            $scope.hours.push({ value: i, label: i + '시' });
        }
        
        $scope.selectHour = function() {
            $scope.selectedHour = 10;
        }
    }]);
  </script>
</head>
<body ng-app="myApp" ng-cloak>
    <div ng-controller="MainCtrl" class="md-padding" ng-cloak layout="row">
        <div layout="row">
            <md-input-container>
            <md-select ng-model="user.bbs">
                <md-option><em>TVN</em></md-option>
                <md-option ng-repeat="(index,bbs) in bbsList" ng-value="bbs" ng-disabled="index === 1" ng-selected="bbs == 'KBS'" >
                    {{bbs}}
                </md-option>
                <md-option><em>JTBC</em></md-option>
            </md-select>
            <span>선택한 값 : {{user.bbs}}</span>
            </md-input-container>
        </div>

        <div layout="row">
            <md-input-container>
            <select ng-model="selectedHour" ng-options="hour.value as hour.label for hour in hours" >
            </select>
            <span>선택한 시간 : {{selectedHour}}</span>
            </md-input-container>
        </div>
        
        <button ng-click="selectHour()">
                select Hour
        </button>
    </div>
</body>
</html>
