<html>
<head>
<meta charset="utf-8">
<style>
[v-cloak] {
    display: none;
}
</style>
</head>
<body>
    <div id="app" v-cloak>
        <!-- html이 그대로 표시 -->
        <h1 v-text="hello"></h1>
        
        <!-- html이 랜더링된 이후에 표시 -->
        <h1 v-html="world"></h1>
        
        <!-- v-show 속성이 true이면 화면에 표시됨 -->
        <h1 v-show="visible">vue</h1>

        <!-- v-show 속성이 false이면 화면에 표시안됨 -->
        <h1 v-show="visible">js</h1>

        <h1 v-if="value > 5">value가 5보다 크면 표시됨.</h1>
        <h1 v-else-if="value === 5">value가 5이면 표시됨.</h1>
        <h1 v-else>value가 5보다 작으면 표시됨.</h1>

        <!-- v-pre 속성은 랜더링을 건너띔. -->
        <h1 v-pre>{{ 이건 그대로 표시됨. }} </h1>

        <!-- 머스태쉬 태그로 값을 표시 -->
        <h1>{{ "value : " + value }} </h1>

        <!-- v-bind 속성을 사용하여, html 태그의 속성값을 변경할 수 있음. -->
        <img v-bind:src="value > 3 ? large : small" />
        
        <!-- 또는 이렇게 약어 : 로 사용할 수 있음. -->
        <img :src="value > 3 ? large : small" />

        <li v-for="(bbs, index) in bbsList">{{ index }} {{bbs.name}} </li>            

        <!-- 양방향 바인딩 -->
        <input type="text" v-model="hello"/>

        <!-- v-on 전체 문법  -->
        <button v-on:click="onClick">클릭</button>

        <!-- v-on 약식 문법  -->
        <button @click="onClick">클릭</button>
    </div>

    <script src="static/vue.min.js"></script>
    <script>

    var app = new Vue({
        el: "#app",
        data: {
            hello: "<i>hello<i>",   
            world: "<i>world<i>",
            visible: true,
            value: 6,
            large: "1.png",
            small: "2.png",
            bbsList: [{name:"MBC"},
                {name:"KBS"},
                {name:"SBS"},
                {name:"EBS"}
                ]
        },        
        methods: {
            onClick: function() {
                alert(this.hello);
            }
        }
    });
    </script>
</body>
</html>
